{% extends 'admin/change_list.html' %}

{% block object-tools %}

<script>
  var request = new XMLHttpRequest();
  request.open("POST", window.location.origin + window.location.pathname + "statistics/", true);
  request.setRequestHeader("Content-type", "application/json");
  request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
  request.onreadystatechange = function() {
    console.log(request.responseText);
  };
  request.send(JSON.stringify({{ data|safe }}));
</script>

{{ block.super }}

{% endblock %}
